@model System.Collections.Generic.List<ATeam_MVC_WebApp.ViewModels.FoodProductViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

</div>
</body>
</html>